@model VirtualHealthProject.Models.PatientMovementViewModel

@{
    ViewData["Title"] = "Create Patient Movement";
    Layout = "_WardAdminLayout";
}

<h1>Create Patient Movement</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
    <label asp-for="SelectedPatientID" class="control-label"></label>
    <select asp-for="SelectedPatientID" class="form-control" asp-items="Model.PatientOptions">
        <option value="">Select a patient</option>
    </select>
    <span asp-validation-for="SelectedPatientID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Movement" class="control-label"></label>
        <input asp-for="Movement" class="form-control" />
        <span asp-validation-for="Movement" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MovementTime" class="control-label"></label>
        <input asp-for="MovementTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="MovementTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReturnTime" class="control-label"></label>
        <input asp-for="ReturnTime" class="form-control" type="datetime-local" />
        <span asp-validation-for="ReturnTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
