@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Confirmation";
    Layout = "_DoctorLayout";
}
<h2>Referral Submitted Successfully!</h2>
<p>Referral letter has been submitted to the hospital and appointment has been requested. Thank you!</p>