<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    .scrollable-container {
        width: 100%;
        max-width: 1200px; /* Or whatever max width you want */
        overflow-x: auto; /* Enable horizontal scrolling */
        overflow-y: hidden; /* Disable vertical scrolling if not needed */
        white-space: nowrap; /* Prevent wrapping of child elements */
    }

</style>

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="active">
                  <a asp-controller="PatientFolder" asp-action="Dashboard"> 
                        <i class="fa fa-chart-line"></i> <span>Dashboard</span>
                  </a> 
                </li>
                @* <li>
                    <a asp-controller="Referral" asp-action="Create"><i class="fa fa-file"></i> <span>Referrals</span></a>
                </li> *@
                <li>
                    <a asp-controller="Referral" asp-action="Index"><i class="fa fa-envelope"></i> <span>Referrals</span></a>
                </li>
                <li>
                    <a asp-controller="PatientFolder" asp-action="Index"><i class="fa fa-file-medical"></i> <span>Patient Folders</span></a>
                </li>
                <li>
                    <a asp-controller="Admission" asp-action="Index"><i class="fa fa-user-injured"></i> <span>Admissions</span></a>
                </li>
                <li>
                    <a asp-controller="Discharge" asp-action="Index"><i class="fa fa-sign-out-alt"></i> <span>Discharge</span></a>
                </li>
                <li>
                    <a asp-area="" asp-controller="BedAllocation" asp-action="Index"><i class="fa fa-bed"></i> <span>Bed Allocation</span></a>
                </li>
                 <li>
                      <a asp-area="" asp-controller="PatientMovement" asp-action="Index"><i class="fa fa-clock"></i> <span>Patient Movement</span></a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Billing" asp-action="Create"><i class="fa fa-clock"></i> <span>Patient Billing</span></a>
                </li>

              @*   <li class="submenu">
                    <a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a asp-area="" asp-controller="Employees" asp-action="ListOf">Employee List</a></li>
                        <li><a asp-area="" asp-controller="AddUsers" asp-action="List">Add User</a></li>

                    </ul>
                </li> *@



                <li>
                    <a href="chat.html"><i class="fa fa-comments"></i> <span>Chat</span> <span class="badge badge-pill bg-primary float-right">1</span></a>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fa fa-envelope"></i> <span> Email</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="compose.html">Compose Mail</a></li>
                        <li><a href="inbox.html">Inbox</a></li>
                        <li><a href="mail-view.html">Mail View</a></li>
                    </ul>
                </li>
            


            </ul>
        </div>
    </div>
</div>
