@model VirtualHealthProject.ViewModels.InstructionViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_DoctorLayout";
}

<h1>Edit</h1>

<h4>Instruction</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstructionId" />

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label">Created Date</label>
                <input type="date" asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Remarks" class="control-label">Comment</label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RemarkDate" class="control-label">Comment Date</label>
                <input type="date" asp-for="RemarkDate" class="form-control" />
                <span asp-validation-for="RemarkDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PatientID" class="control-label">Patient</label>
                <select asp-for="PatientID" class="form-control" asp-items="Model.Patients"></select>
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" asp-items="Model.Users" class="form-control"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group d-inline mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
