
@{
    ViewBag.Title = "Confirmation";
    Layout = "_DoctorLayout";
}
<h2>Discharge Request Submitted Successfully!</h2>
<p>Discharge request has been sent to the ward administrator. Thank you!</p>
    
